{% extends 'layout.html' %}

{% block content %}

<section class="hero-small">
    <div class="overlay">
        <div class="container text-center text-white">
            <h1>Support Our Mission</h1>
            <p>Your donation brings hope and dignity to those in need.</p>
        </div>
    </div>
</section>

<section class="container py-5">

<div class="row">

<div class="col-lg-6 text-center">

<h2 class="mb-4">Scan & Donate</h2>

<img src="{{ url_for('static', filename='images/qr.jpeg') }}"
class="img-fluid shadow rounded"
style="max-width:320px;">

<h5 class="mt-3">
Aashraya Educational and Charitable Trust
</h5>

<p class="text-muted">
Scan the QR code using any UPI app such as
Google Pay, PhonePe, Paytm or BHIM.
</p>

</div>

<div class="col-lg-6">

<div class="card shadow p-4">

    <h3 class="mb-4 text-warning">
        Bank & Trust Details
    </h3>

    <p><strong>Bank Name:</strong> Federal Bank</p>

    <p><strong>Account Name:</strong> Aashraya Educational & Charitable Trust</p>

    <p><strong>Account Number:</strong> 13280100141806</p>

    <p><strong>IFSC Code:</strong> FDRL0001328</p>

    <p><strong>ISO Certification:</strong> ISO 9001:2015 Certified</p>

    <p><strong>Registration:</strong> CSR, NITI Aayog, MSME & GST Registered</p>

    <p><strong>Tax Exemption:</strong> Section 12A & 80G Income Tax Exemptions</p>

    <hr>

    <h5>Contact Details</h5>

    <p><strong>Mobile:</strong> +91 9496970824</p>

    <p><strong>Office:</strong> +91 7560896143</p>

    <p><strong>Email:</strong>
        <a href="mailto:aashrayaeducationaltrust@gmail.com">
            aashrayaeducationaltrust@gmail.com
        </a>
    </p>

    <p><strong>Website:</strong>
        <a href="https://www.aashraya.in" target="_blank">
            www.aashraya.in
        </a>
    </p>

    <hr>

    <h5>Office Address</h5>

    <p>
        <strong>Head Office:</strong><br>
        Door No. 2211, Second Floor,<br>
        Tower 2, HiLITE Business Park,<br>
        Olavanna, Kozhikode, Kerala - 673019
    </p>

   <p>
    <strong>Regional Office:</strong><br>
    Aashraya Care Heaven,<br>
    Kanhirangad P.O., Poovam,<br>
    Taliparamba, Kannur - 670142,<br>
    Kerala, India
</p>

    <p><strong>Branches:</strong> Kasaragod, Kannur, Thrissur</p>

    <p><strong>Area of Operation:</strong> All Over India</p>

</div>

</div>

</div>

</section>

{% endblock %}