<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="google-site-verification" content="uqXWhG1dJ0D7Id2KxJmo1Kjc1paml1liUyBOzBWrM2w" />

<title>Aashraya Care Heaven</title>

<link rel="stylesheet"
href="{{ url_for('static',filename='css/style.css') }}">

<link rel="preconnect"
href="https://fonts.googleapis.com">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
rel="stylesheet">

</head>

<body>

<!-- ================= NAVBAR ================= -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">

<div class="container">

<a class="navbar-brand d-flex align-items-center" href="/">
    <img src="{{ url_for('static', filename='images/logo.png') }}"
         alt="Aashraya Care Heaven"
         class="navbar-logo">

    <div class="brand-text ms-3">
        <h4>Aashraya Care Heaven</h4>
        <p>Educational & Charitable Trust</p>
    </div>
</a>

<button
class="navbar-toggler"
data-bs-toggle="collapse"
data-bs-target="#menu">

<span class="navbar-toggler-icon"></span>

</button>

<div
class="collapse navbar-collapse"
id="menu">

<ul class="navbar-nav ms-auto">

<li class="nav-item">

<a class="nav-link"
href="/">Home</a>

</li>

<li class="nav-item">

<a class="nav-link"
href="/about">About</a>

</li>

<li class="nav-item">

<a class="nav-link"
href="/services">Services</a>

</li>

<li class="nav-item">

<a class="nav-link"
href="/gallery">Gallery</a>

</li>

<li class="nav-item">

<a class="nav-link"
href="/donate">Donate</a>

</li>



</ul>

</div>

</div>

</nav>


{% block content %}

{% endblock %}

<footer class="footer">

<div class="container">

<div class="row gy-5">

<div class="col-lg-4">

<h3>Aashraya Care Heaven</h3>

<p>
Providing care, dignity and hope to elderly people,
families in need and children through community
service and charitable initiatives.
</p>

</div>
<div class="col-lg-4">

<h3>Contact</h3>

<p>
📍 <strong>Address:</strong><br>
Aashraya Care Heaven,<br>
Thaliparamba, Kannur, Kerala
</p>

<p>
🏢 <strong>Head Office:</strong><br>
Door No. 2211, Second Floor,<br>
Tower 2, HiLITE Business Park,<br>
Olavanna, Kozhikode, Kerala - 673019
</p>

<p>
🏢  <strong>Regional Office:</strong><br>
    Aashraya Care Heaven,<br>
    Kanhirangad P.O., Poovam,<br>
    Taliparamba, Kannur - 670142,<br>
    Kerala, India
</p>

<p>
📞 +91 9496970824
</p>

<p>
☎ +91 7560896143
</p>

<p>
✉
<a href="mailto:aashrayaeducationaltrust@gmail.com">
aashrayaeducationaltrust@gmail.com
</a>
</p>

<p>
    🌐
    <a href="https://www.aashraya.in" target="_blank">
        www.aashraya.in
    </a>
    <br>
    📄
    <a href="https://visitmyprofile.in/aashraya-educational-and-charitable-trust" target="_blank">
        visitmyprofile.in/aashraya-educational-and-charitable-trust
    </a>
</p>

</div>

<div class="col-lg-4 text-center">

<h3>Scan To Donate</h3>

<img src="{{ url_for('static', filename='images/qr.jpeg') }}"
class="footer-qr">

<p class="mt-3">
Support our mission by scanning this QR code.
Every contribution makes a difference.
</p>

</div>

</div>

<hr>

<div class="social">

<a href="https://www.facebook.com/share/17WZGuWqfQ/">
<i class="fab fa-facebook"></i>
</a>

<a href="https://www.instagram.com/aashrayaeducational">
<i class="fab fa-instagram"></i>
</a>

<a href="https://youtube.com/@aashrayaeducationaltrust">
<i class="fab fa-youtube"></i>
</a>

</div>

<p class="copyright">
© 2026 Aashraya Care Heaven | All Rights Reserved
</p>

</div>

</footer>

<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js">
</script>

<script
src="{{ url_for('static',filename='js/script.js') }}">
</script>

</body>

</html>